/* CSS変数の定義 */
:root {
    --background-color: #333;
    --editor-background-color: #444;
    --toolbox-background-color: #555;
    --header-background-color: #666;
    --border-color: #555;
    --text-color: #fff;
    --heading-color: #ddd;
    --paper-color: #fff;
    --paper-border-color: #ccc;
    --grid-color: #ccc;
}

/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    margin: 0;
}

/* ヘッダー */
#header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-background-color);
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    height: 50px;
}

#header-left, #header-center, #header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-right {
    justify-content: flex-end;
}

/* エディタコンテナ */
#editor-container {
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px); /* ヘッダーの高さを除外 */
    border: 1px solid var(--border-color);
}

/* デザインエリア */
#design-area {
    flex: 3;
    background-color: var(--editor-background-color);
    border-right: 1px solid var(--border-color);
    position: relative;
}

/* 用紙コンテナ */
#paper-container {
    /* position: relative; */
    width: calc(100vw - 300px);
    height: 100%;
    overflow: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* 拡大率コントロール */
#zoom-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider-container {
    width: 180px;
    margin: 0;
}

#zoom-slider {
    width: 100%;
}

#zoom-level {
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    min-width: 50px;
}

button {
    background-color: var(--border-color);
    border: none;
    color: var(--text-color);
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    min-width: 40px;
    text-align: center;
}

button:hover {
    background-color: var(--text-color);
    color: var(--border-color);
}

.tab-content h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: #333;
}

.tab-content .cnt-control:first-child h3 {
    margin-top: 0;
}

.unit {
    position: relative;
    top: 0.3em;
    font-size: 0.8rem; /* 単位のフォントサイズを小さく設定 */
    margin-left: 0.3em; /* 単位と入力ボックスの間のスペース */
}
